aiofiles==25.1.0
aiohttp==3.13.5
bcrypt==5.0.0
beautifulsoup4==4.14.3
cachetools==7.0.5
cloudscraper==1.2.71
cryptography==46.0.7
fastapi==0.135.3
lxml==6.0.4
passlib==1.7.4
Pillow==12.2.0
playwright==1.58.0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.26
redis==7.4.0
requests==2.33.1
schedule==1.2.2
SQLAlchemy==2.0.49
tqdm==4.67.0
uvicorn==0.44.0
